<ul class="program-list" id="program-list-list">
    {{#each programs}}
    <li class="program-element" data-name="{{this.name}}">
        <div class="program-container">
            <div class="program-name"><a href="{{this.website}}">{{this.name}}</a></div>
            <div class="program-category">{{this.category}}</div>
            <div class="program-description">{{this.description}}</div>
            {{#if this.setup}}
            <div class="program-setup">Setup: {{this.setup}}</div>
            {{/if}}
            {{#if this.bugs}}
            <div class="program-bugs">Bugs: {{this.bugs}}</div>
            {{/if}}
            <div class="program-tags">
                <ul>
                    {{#if this.platformInfo}}
                        {{#if this.platformInfo.windows}}
                            <li class="program-tag{{#if this.platformInfo.windowsAdminRightsNecessary}} program-tag-attention{{/if}}">
                                Windows{{#if this.platformInfo.windowsAdminRightsNecessary}} (admin-rights){{/if}}
                            </li>
                        {{/if}}
                        {{#if this.platformInfo.linux}}
                            <li class="program-tag{{#if this.platformInfo.linuxSudoRightsNecessary}} program-tag-attention{{/if}}" data-filter="Linux{{#if this.platformInfo.linuxSudoRightsNecessary}};sudo{{/if}}">
                                Linux{{#if this.platformInfo.linuxSudoRightsNecessary}} (sudo){{/if}}
                            </li>
                        {{/if}}
                    {{/if}}
                    {{#if this.gui}}
                        <li class="program-tag program-tag-positive">GUI</li>
                    {{/if}}
                    {{#if this.cli}}
                        <li class="program-tag">CLI</li>
                    {{/if}}
                    {{#if this.openSource}}
                        {{#isString this.openSource.license}}
                            <li class="program-tag program-tag-positive" data-filter="{{this.openSource.license}}">
                                OpenSource-{{this.openSource.license}}
                                <a href="{{this.openSource.url}}" class="info-button" alt="OpenSource-{{this.openSource.license}}"></a>
                            </li>
                        {{/isString}}
                        {{#isArray this.openSource.license}}
                            <li class="program-tag program-tag-positive" data-filter="{{#each this.openSource.license}}{{this}};{{/each}}">
                                OpenSource{{#each this.openSource.license}}-{{this}}{{/each}}
                                <a href="{{this.openSource.url}}" class="info-button" alt="OpenSource{{#each this.openSource.license}}-{{this}}{{/each}}"></a>
                            </li>
                        {{/isArray}}
                    {{else}}
                        <li class="program-tag program-tag-attention">ClosedSource</li>
                    {{/if}}
                    {{#if this.price}}
                        <li class="program-tag program-tag-attention">Price-{{this.price}}</li>
                    {{/if}}
                    {{#if this.tags}}
                        {{#each this.tags}}
                        <li class="program-tag">{{this}}</li>
                        {{/each}}
                    {{/if}}
                </ul>
            </div>
            <div class="program-package-manager">
                <ul>
                    {{#if this.packageManagerInfo}}
                        {{#if this.packageManagerInfo.pacman}}
                            <li class="program-tag program-tag-code" data-filter="pacman">
                                <code>
                                    sudo pacman -S {{this.packageManagerInfo.pacman}}
                                </code>
                                <a href="https://www.archlinux.org/packages/?q={{this.packageManagerInfo.pacman}}" class="info-button"></a>
                            </li>
                        {{/if}}
                        {{#if this.packageManagerInfo.pacmanGroup}}
                            <li class="program-tag program-tag-code" data-filter="pacmanGroup">
                                <code>
                                    sudo pacman -S {{this.packageManagerInfo.pacmanGroup}}
                                </code>
                                <a href="https://www.archlinux.org/groups/x86_64/{{this.packageManagerInfo.pacmanGroup}}" class="info-button"></a>
                            </li>
                        {{/if}}
                        {{#if this.packageManagerInfo.pacmanAur}}
                            <li class="program-tag program-tag-code" data-filter="pacmanAur">
                                <code>
                                    sudo yay -S {{this.packageManagerInfo.pacmanAur}}
                                </code>
                                <a href="https://aur.archlinux.org/packages/?K={{this.packageManagerInfo.pacmanAur}}" class="info-button"></a>
                            </li>
                        {{/if}}
                        {{#if this.packageManagerInfo.pacmanAurNightly}}
                            <li class="program-tag program-tag-code" data-filter="pacmanAurNightly">
                                <code>
                                    sudo yay -S {{this.packageManagerInfo.pacmanAurNightly}}
                                </code>
                                <a href="https://aur.archlinux.org/packages/?K={{this.packageManagerInfo.pacmanAurNightly}}" class="info-button"></a>
                            </li>
                        {{/if}}
                        {{#if this.packageManagerInfo.pacmanAurGit}}
                            <li class="program-tag program-tag-code" data-filter="pacmanAurGit">
                                <code>
                                    sudo yay -S {{this.packageManagerInfo.pacmanAurGit}}
                                </code>
                                <a href="https://aur.archlinux.org/packages/?K={{this.packageManagerInfo.pacmanAurGit}}" class="info-button"></a>
                            </li>
                        {{/if}}
                        {{#if this.packageManagerInfo.winget}}
                            <li class="program-tag program-tag-code" data-filter="winget">
                                <code>
                                    winget install -e --id {{this.packageManagerInfo.winget}}
                                </code>
                                <a href="https://winget.run/pkg/{{replaceWinget this.packageManagerInfo.winget '.' '/'}}" class="info-button"></a>
                            </li>
                        {{/if}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </li>
    {{/each}}
</ul>
